@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
    overflow-y: scroll;
}



.background{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(./img/cockentretenimento.jpg);
    background-size: cover;
    background-position:bottom;
    width: 100%;
    height: 100vh;
   
}

header{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
    font-stretch: extra-expanded;
   
    
}

.cabeçalho-link{
    display: flex;
    gap: 3rem;
    font-weight: 300;
    cursor: pointer;  
}

.cabeçalho-link a{
    color: #fff;
    font-size: 12px;
}

.cabeçalho-link a:hover{
    color:  #0ae6e6;
    transition: 0.3s all;
    font-size: larger;
}

.logo i{
    height: 40px;
    width: 40px;
    background: transparent;
    border: 1px solid #0ae6e6;
    color: #0ae6e6;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor:n-resize 10px;
}


button{
    color: #0ae6e6;
    background: transparent;
    border:solid 1px #0ae6e6;
    padding: 5px;
    border-radius: 15px;
    font-size: 12px;
    cursor: pointer;
    width: 150px;
}

button:hover{
    background-color: #0ae6e6;
    color: #fff;
    transition: 0.5s;
    
}

.container-text{
    padding: 150px 0 0 130px;
}

.text h3{
    color: #fff;
    font-size: 15px;
}

.text h1{
    color: #f1ecec;
    margin-top: 20px;
    size: large;
    font-display: ;
}

.text span{
    color: #0ae6e6; 
}

.text p{
    color: #fff;
    font-weight: 500;
    margin-top: 10px;
    font-size: 10px;
}

.redes-social{
    margin-top: 10px;
}

.redes-social a{
    color: #0ae6e6;
    padding: 10px;
    margin-top: 5px;
}

.btn{
    margin-top: 15px;
}

@media screen and (max-width:600px){
    .cabeçalho-link {
        display: none;
    }
    
}
.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(20, 145, 145, 0);
    display: flex;
    justify-content: center;
    align-items:end;
    font-weight: bold;
}
.logo-text {
    color: white;
    font-size: 24px;
    font-weight: bold;
  }
  h1{
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
  }
  ul{
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
  }
  img src{
    size: 100px;
    
  }
  .wrapper {
    background-image: url(./img/cockentretenimento.jpg);
    background-size: cover;
    
    background-repeat: no-repeat;
    min-height: 100px;
  }
  .imagem-redimensionada{
    width: 300px;
    height: auto;
  }